* {
  /*border: 1px solid #f00;*/
  background-color: #eee;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {
  text-decoration: none;
  /*color: #387BBF;
  -moz-transition: color 0.2s ease-out;*/
}

#body {
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

#logo_header {
  margin-top: 2em;
  margin-bottom: 1em;
}


#blog-logo img, a{
    display: block;
    max-height: 75px;
    width: 75px;
    margin: 0 auto;
    line-height: 0;
}

#post {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#post_date {
  text-align: center;
}

#post_title {  
  margin-top: 2em;
  margin-bottom: 0.5em;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 3em;
  
  text-align: center;
}

#post_text {
  margin-top: 2.5em;
  font: 'Dejavu Serif',Constantia, serif;
  font-size: 1.25em;
}

#share {
  margin-top: 5em;
  font-family: sans-serif;
  text-align: center;
}

#logo_footer {
  margin-top: 4em;
  margin-bottom: 3em;

  text-align: center;
}

p.post_title_text {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.post_date_text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.9em;
  color: #777;
}

p.share_text {
  margin-top: 0px;
  margin-bottom: 0px;
}

a.logo{
    display:block;
    margin:auto;
    max-width:75px;
    max-height:75px;  
}







/* ==========================================================================
   1. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

}

/* ==========================================================================
   1. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {
   
}


