/*******************************************************************************
 * Fonts
 ******************************************************************************/
 
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}


 
/*******************************************************************************
 * General styles to apply on all elements
 ******************************************************************************/

/* Selection background color */
::selection
{
    background: #D6EDFF;
    text-shadow: none;
}


::-moz-selection
{
    background: #D6EDFF;
    text-shadow: none;
} 


/* Page background color and default text color */
* {
	/*background: #EEEEEE;*/
	/*color: #333;*/
	color: rgb(58, 65, 69);
}

/* Subtle decoration for links */
a:link {
	color: #008CCF;
	text-decoration: none;
}

/* Same decoration for visited links */
a:visited {
	color: #008CCF;
	text-decoration: none;
}

/* Underline links on hover */
a:hover {
  text-decoration: underline;
}


/*******************************************************************************
 * Specific styles to apply on certains sections
 ******************************************************************************/

 
/* Affects to all relevant content in the post (title, date, main text, etc.) */
#content {
  /* font-size neccessary for unifying base font size among different browsers*/
  font-size: 12pt;
  text-rendering: optimizeLegibility;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}


/* Margins for header */
#header {
  margin-top: 2em;
  margin-bottom: 3em;
}


/* Resizing header and footer logo */
.blog-logo img{
    display: block;
    max-height: 75px;
    width: 75px;
    margin: 0 auto;
    line-height: 0;
}


/* Adapt link to adopt the logo size */
.blog-logo a{
    display: block;
    max-height: 75px;
    width: 75px;
    margin: 0 auto;
    line-height: 0;
}


a.logo{
    display:block;
    margin:auto;
    max-width:75px;
    max-height:75px;  
}


/* content box */
#post {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}


/* Control image size to adapt post div */
#post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
  color: #ccc;
}


/* Control embed content (ie: YouTube links for now) */
#post embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  width: 600px;
  height: 400px;
}


/* Center date in the post */
#post_date {
  padding-top: 1.5em;
}


p.post_date_text {
	font-family: 'PT Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
	color: rgb(158, 171, 179);
}


/* Center title and choose a custom font (now is Leto-Bold) */
#post_title {  
  margin-bottom: 0.5em;

  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2em;
}


p.post_title_text {
  margin-top: 0.2em;
  margin-bottom: 0px;
}


/* Main text of the post. Currently uses Open Sans font from Google Fonts */
#post_text {
  line-height: 1.5em;
  margin: 1.6em 0px 1.6em 0px;
  
  font-family: 'PT Serif', serif;  
  font-size: 20px;
}

#post_text p{
	margin: 0px 0px 1.6em 0px;
}

/* Post footer */
#post_footer {
	margin-top: 3.5em;
}

/* Tags decoration and hover transitions */
a.tag {
	font-family: 'PT Sans', sans-serif;
	margin: 0px 1px 0px 1px;
	padding: 0px 15px 2px 15px;
	line-height: 2em;
	font-size: 1em;
	text-decoration:none;
    color: #555555;
    background: #DDDDDD;
    white-space:nowrap;
    border-radius: 30px;
    transition: border 0.3s ease 0s;
	
}

/* Nice transition */
a.tag:hover {
  color: #FFF;
  background: #888;
  transition: color 0.3s ease-out;
}

/* Permalink */
a.permalink {
  display: inline-block;
  float: right;
  
}



/* Footer. Currently only contains the logo */
#footer {
  margin-top: 4em;
  margin-bottom: 3em;

  text-align: center;
}

#disqus_thread {
  margin-bottom: 3em;
}

/* Estimated read time should be floating right */
span.etime {
	float: right;
	color: rgb(158, 171, 179);
}

/* Author */
span.author {
  font-family: 'PT Sans', sans-serif;
}

/*******************************************************************************
 * Code Styles: Inline code, block code (class .block_code) and blockquote
 ******************************************************************************/
 
 
/* Inline code. In Markdown is `hello world` */
#post_text code{
  font-family: 'Source Code Pro', sans-serif;
  font-size: 0.9em;
  
  white-space: pre-wrap;
  word-wrap: break-word;
  
  border: solid 1px #bbb;
  background-color: #eee;
  
  margin-bottom:1px;
  margin-left:2px;
  margin-right:2px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  
  border-radius: 4px;
}


/* Block code. In Markdown is a tabbed text or +4 spaces at line beginning. This
 * rules cancel the more general #post_text code rules above, because they'll be
 * redefined in pre.block_code below */
#post_text code.block_code {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1em;  
  
  line-height: 1.2em;
  
  border: none;
  background-color: inherit;
  
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
  border-radius: 0px;
}


/* Block code. This is the block containing the code. The rules add a nice 
 * border like inline code */
#post_text pre.block_code {
  border: solid 1px #bbb;
  background-color: #eee;
  
  white-space: pre-wrap;
  word-wrap: break-word;
  
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  border-radius: 4px;
}


/* Blockquote. Add a gray leftborder and slightlt pad the content */
#post_text blockquote {
  word-wrap: break-word;
  padding-left: 1em;
  border-left: 3px solid #ccc;
}







/*******************************************************************************
 * Header styles
 ******************************************************************************/
 
#post_text h1 {
  line-height: 1.2em;
  margin-top: 1.6em;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  font-size: 36px;
} 


#post_text h2 {
  line-height: 1.2em;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

#post_text h3 {
  line-height: 1.2em;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

#post_text h4 {
  line-height: 1.2em;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#post_text h5 {
  line-height: 1.2em;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

#post_text h6 {
  line-height: 1.2em;
  font-family: 'PT Serif', sans-serif;
  font-style: italic;
  font-size: 20px;
}


/* ==========================================================================
   1. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {

}

/* ==========================================================================
   1. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {

#post {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #fff;
  word-wrap: break-word;
}

#post_title {  
  margin-bottom: 0.5em;

  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
    
  background-color: #fff;
}
   
}


